img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

ul {
  list-style: none;
}


@media only screen and (max-width: 600px) {
  .Beer-App {
    font-weight: bold;
    background-color: lightblue;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px;
    width: 75px;
  }

  ul {
    display: none;
  }

  .food_pairing {
    display: none;
  }
}
